@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');
:root{    --rich-black: #001021ff;
    --midnight-green: #034748ff;
    --blue-ncs: #1481baff;
    --aero: #11b5e4ff;

    
}

